@charset "utf-8";

p.roadzipTitle { width:510px; height:150px; white-space:nowrap; overflow:hidden; text-indent:-9999px; font-size:0; background:url(//xenosi.de/load/roadzip/roadzip.gif) no-repeat center; }
p.roadzipTitle2 { width:310px; height:205px; white-space:nowrap; overflow:hidden; text-indent:-9999px; font-size:0; background:url(//xenosi.de/load/roadzip/roadzip2.gif) no-repeat center; }
.XenoFindZip { width:200px; }
.XenoFindZipLabel { font-size:12px; color:#990000; }
.XenoZipDialog h1 { font-size:12px; }
.XenoZipDialog td { font-size:12px; padding:5px; white-space:nowrap; }
.XenoZipDialog .scrollBox { overflow:auto; overflow-x:hidden; overflow-y:auto; max-height:300px; }
.XenoZipDialog .scrollBox { .height:300px; /* ie67 height hack */ }
.XenoZipDialog .scrollBox p { width:540px; overflow:hidden; padding:0; margin:0; }

label span.road_api_link, label span.road_api_link a, label span.road_api_link a:hover{font-size:11px;color:#b9b9b9 !important;}